* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal !important;
}
.fs-1 {
  font-size: 2rem !important;
  line-height: normal !important;
}
.fs-2 {
  font-size: 1.5rem !important;
  line-height: normal !important;
}
.fs-3 {
  font-size: 1.25rem !important;
  line-height: normal !important;
}
.fs-4 {
  font-size: 1rem !important;
  line-height: normal !important;
}
.fs-5 {
  font-size: 0.875rem !important;
  line-height: normal !important;
}
.fs-6 {
  font-size: 0.75rem !important;
  line-height: normal !important;
}
